<!DOCTYPE html>
<html>
  <head>
    <title>Ejemplo base de VueJS</title>
    <meta charset="utf-8"/>
    <!-- development version, includes helpful console warnings -->
    <script src="node_modules/vue/dist/vue.js"></script>
    <!-- production version, optimized for size and speed -->
    <!--script src="node_modules/vue/dist/vue.min.js"></script-->
    <script>
      //Definición de un componente
        Vue.component('button-counter', {
            data: function () {
                return {
                    count: 0
                }
            },
            template: '<button v-on:click="count++">Me han hecho click {{ count }} veces.</button>'
        });
        //paso de parámetros a un componente
        Vue.component('blog-post', {
            props: ['title'],
            template: '<h3>{{ title }}</h3>'
        });

        //componentes anidados
      //componente hijo
      Vue.component('hijo', {
          template: '<div><h4>Dato: {{dato}}</h4>' +
          '<ul>' +
          '<li v-for="item in listado">{{item}}</li>' +
          '</ul>' +
          '<button @click="increment">{{ counter }}</button>' +
          '<button @click="addItem">Add Item</button>' +
          '<button @click="tomaPadre">Ejecuta Padre</button>' +
          '</div>',
          props: ['dato','listado','padre'],
          data: function () {
              return {
                  counter: 0
              }
          },
          methods: {
              increment: function () {
                  this.counter++;
                  this.$emit('increment');
              },
              addItem:function () {
                  this.listado.push("elemento");
              },
              tomaPadre:function () {
                  this.padre.incrementTotal();
              }
          },
      });
      Vue.component('padre',{
          data: function(){
              return {
                  total: 0,
                  listado:[
                      "ele1",
                      "ele2",
                      "ele3"
                  ],
                  padre:null
              }
          },
          created:function(){
            this.padre=this;
          },
          methods: {
              incrementTotal: function () {
                  this.total++
              }
          },
          template:'<div><p>{{ total }}</p>\n' +
          '<ul>' +
          '<li v-for="item in listado">{{item}}</li>' +
          '</ul>' +
          '<hijo @increment="incrementTotal" dato="2" :listado="listado" :padre="padre"></hijo>' +
          '<hijo   @increment="incrementTotal" dato="5" :listado="listado" :padre="padre"></hijo></div>'
      });

      document.addEventListener("DOMContentLoaded",function(){
        var app = new Vue({ el: '#components-demo' });
      });
      
    </script>
  </head>
  <body>
    <div id="components-demo">
      <!-- uso de un componente -->
      <button-counter></button-counter>
      <button-counter></button-counter>
      <button-counter></button-counter>
      <!-- paso de parámetros -->
      <blog-post title="Mi título molón"></blog-post>
      <blog-post title="Otro título distinto"></blog-post>
      <blog-post title="All you need is Love"></blog-post>
      <!-- componentes anidados -->
      <padre>
      </padre>
    </div>

  </body>
</html>